
.title_cart{
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
}
.top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.top_cart button{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: #ecf0f3;
    border-radius: 20px;
    width: 300px;
    min-width: 160px;
    transition: all 0.3s linear;
}
.top_cart .check_out{
    width: 150px;
}
.top_cart button:hover{
    background-color:#82bce9;
}
hr{
    background-color: #eee;
    border: none;
    height: 1px;
}
.bottom_cart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.info_cart{
    width: 70%;
    padding: 20px;
}
.Summary{
    width: 30%;
    padding:20px;
    border: 1px solid gray;
    border-radius: 20px;
    height:500px;
}
.SummaryTitle{
    font-weight: 200;
}
.SummaryItem{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size: 18px;
}
.checknow{
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
}
.productDetail_cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productDetail_cart img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.details_cart{
    font-size: 14px;
    width: 250px;
    margin-left: 10px;
    /* min-width: none; */
}
.ProductAmountContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.ProductAmount{
    margin:0 10px;
}
.ProductPrice{
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width:992px){
    .SummaryTitle{
        font-size: 24px;
    }
    .SummaryItem{
        font-size: 15px;
    }
    .productDetail_cart img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
}
@media (max-width:768px){
    .bottom_cart{
        display: flex;
        flex-direction: column;
    }
    .info_cart{
        width: 100%;
    }
    .Summary{
        width: 60%;
        height: 350px;
    }
}
@media (max-width:576px){
    .top_cart button{
        width: 200px;
        padding: 6px;
    }
    .productDetail_cart img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .top_cart .check_out{
        width: 100px;
    }
    .details_cart {
        font-size: 12px;
    }
    .ProductAmountContainer,.ProductPrice{
        font-size: 14px;
    }
    .SummaryTitle{
        font-size: 20px !important;
    }
    .Summary{
        width: 70%;
        height: 350px;
    }
    .info_cart{
        padding: 0;
    }
}