
.showProducts{
    padding: 20px;
    text-align: center;
    width: 90%;
}
.buttons{
    display: flex;
}
.buttonProducts{
    border: none;
    padding: 8px 16px;
    margin: 4px;
    background-color: rgb(44, 30, 30);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
.buttonProducts:hover{
    background-color: rgb(153, 117, 153);
}
.listProducts{
    display: flex;
    justify-content: center;
}

.latestProduct{
    text-align: center;
    margin-top: 30px;
}
.numberPages{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.numberPage{
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.top_Products{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchProducts{
    background-color: rgba(229, 231, 235, 0.459);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 8px;
    width: 300px;
}
.searchProducts input{
    background-color: transparent;
    padding:8px;
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    margin: 0;
}
@media(max-width:768px){
    .top_Products{
        display: flex;
        flex-direction: column;
    }
    .searchProducts{
        margin-top: 20px;
    }
    .buttonProducts{
        font-size: 14px;
    }
}
@media(max-width:468px){
    .buttonProducts{
        font-size: 10px;
    }
}