.User{
  background-image: linear-gradient(to bottom,#1565c054,#daa9a957,#8d8181);
  height: 600px;
}
form {
    width: 500px;
    margin: 0 auto;
    height: 100%;
    padding: 30px;
  }
  form h1{
    
    text-align: center;
  }
  label,
  input {
    display: block;
    width: 100%;
  }
  label{
    font-size: 16px;
    font-weight: 600;
    color:rgb(150, 113, 235);
  }
  input,
  button {
    display: block;
    padding: 0.8rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    border: 1px solid lightgrey;
  }
  
  .error-container {
    border: 1px dashed lightgray;
    padding: 1rem;
    width: 100%;
    display: block;
  }
  ul {
    list-style-position: inside;
    color: lightcoral;
  }
  button {
    text-transform: uppercase;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
  }
